.hero-container {
  background-color: #fdd8e2 !important;
  height: 100vh !important;
}

.zero-h1 {
  font-size: 50px !important;
  color: #023448 !important;
  width: 70% !important;
}

.zero-p {
  font-size: 24px !important;
  letter-spacing: -0.5px !important;
  width: 65% !important;
}

.hero-content {
  width: 70% !important;
  height: 271px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  margin-left: 7% !important;
  margin-top: 10% !important;
}

.claim-btn {
  padding: 12px 24px !important;
  border-radius: 100px;
  color: white !important;
  background-color: #f53064 !important;
  border: none !important;
  font-size: 18px;
  margin-right: 10px !important;
}
.open-btn {
  padding: 12px 24px !important;
  border-radius: 100px;
  border-width: 1px;
  color: #4e4e4e;
  background-color: #fee7ed !important;
  border-color: #f53064 !important;
  font-size: 18px;
}

.roboto-medium {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
}

.roboto-regular {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
}

.curtain {
  position: absolute;
  top: 10%;
  right: 0%;
}

.girl {
  position: absolute;
  top: 30%;
  right: 7%;
}
