#start-learning-btn {
  padding: 12px 32px !important;
  border-radius: 100px;
  background-color: #0075ff;
  color: white;
  border: none;
  text-decoration: none !important;
}

#eco-navbar {
  padding: 15px 0px !important;
  width: 90% !important;
  margin: auto !important;
  background: none !important;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3 !important;
}

.rmv-flx {
  flex-grow: 0 !important;
}

.navbar-nav > li {
  margin-right: 30px !important;
  font-size: 16px !important;
}

.navbar-nav > li > a {
  color: #00577a !important;
}

.atc-logo {
  border: 3px solid #ffbf46;
  border-radius: 100px;
  padding: 2px !important;
}
